<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="FirmaSiparisYonetimiContext" connectionString="Data Source=DESKTOP-1RI3SA7\SQLEXPRESS;Initial Catalog=FirmaSiparisYonetimServisi;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>